[
    {elvis, [
        {config, [
            #{
                dirs => ["src/**"],
                filter => "*.erl",
                ruleset => erl_files_strict,
                rules => [
                    {elvis_style, module_naming_convention, #{
                        regex => "^rebar3_uncovered"
                    }},
                    {elvis_style, prefer_strict_generators, #{
                        ignore => [
                            {rebar3_uncovered_cover, module_uncovered_source, 3}
                        ]
                    }},
                    {elvis_style, private_data_types, disable}
                ]
            },
            #{
                dirs => ["."],
                filter => "rebar.config",
                ruleset => rebar_config
            },
            #{
                dirs => ["."],
                filter => ".gitignore",
                ruleset => gitignore
            }
        ]}
    ]}
].
