{minimum_otp_vsn, "28"}.

{deps, [
    {eqwalizer_support,
        {git_subdir, "https://github.com/whatsapp/eqwalizer.git",
            {ref, "c75115d"}, "eqwalizer_support"}},
    {providers, "1.9.0"}
]}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_export_vars,
    warn_unused_import,
    warn_keywords
]}.

{project_plugins, [
    {erlfmt, "1.8.0"},
    {rebar3_lint, "4.2.3"},
    {rebar3_hank, "1.6.0"}
]}.

{erlfmt, [
    write,
    {print_width, 80},
    {files, [
        "elvis.config",
        "rebar.config{,.script}",
        "src/**/*.{hrl,erl,app.src}",
        "test/**/*.{hrl,erl}"
    ]}
]}.

{dialyzer, [
    {plt_apps, all_deps},
    {plt_extra_apps, [providers]},
    incremental,
    {warnings, [unmatched_returns, no_unknown]}
]}.

{xref_ignores, [
    {rebar_api, console, 2},
    {rebar_app_info, dir, 1},
    {rebar_state, add_provider, 2},
    {rebar_state, command_parsed_args, 1},
    {rebar_state, project_apps, 1}
]}.
